.fit {
  display: flex;
  align-items: stretch;
}

.full-width {
  width: 100%;
}

.page-height {
  height: 100vh;
}

.no-margin {
  margin: 0 !important;
}

.no-mar-top {
  margin-top: 0 !important;
}

.no-mar-bottom {
  margin-bottom: 0 !important;
}